.users {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;

    .action-register {
      align-self: flex-end;
      button {
        margin-right: 16px;
      }
    }

    .action-content-registered {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin: 20px 0 !important;
    }
  }
